@charset "UTF-8";

body{
	width: 790px;
	margin:55px 0px 0px 0px;
	padding: 0;
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	font-weight: 100;
	font-size: 13px;
	background-color: #fefefe ;
	color: #0f0000;
}

ul{
	list-style:none;
}

/*----header----*/
.header{
	padding: 0px 0px 10px 90px;
	font-size: 22px;
	font-weight: bold;
}
.headline {
	border-bottom: 1px solid #422;
}
.header a{
	text-decoration: none;
	color: #000000;
}
.header a:hover{
	text-decoration: none;
}

/*----navigation----*/
.nav {
	width:159px;
	min-height:100px; /* for modern browsers */
	height:auto !important; /* for modern browsers */
	height:300px; /* for IE5.x and IE6 */
	float:left;
	margin-top:20px;
	text-align: right;
}
.nav a {
	display: block;
	text-decoration: none;
	color: #000000;
}
/*#nav a:hover {
color: #FFFFFF;
background: #000000;
background-repeat:no-repeat;
background-position:41px 50%;
}*/
.nav a:hover{
	background: url(img/navtop.jpg) no-repeat;
	background-position: 0px 100%;
}
.sidebar {
	padding:0px 0px 2px 22px;
}

/*----containts----*/
.contents{
	width:600px;
	min-height:300px; /* for modern browsers */
	margin-left:190px;
	margin-top: 20px;
}

/*----footer----*/
.footer { 
	margin:0px 0px 50px 0px;
	width:100%;
	height:40px;
	text-align:right;
}