@charset "UTF-8";

body{
	width: 800px;
	margin: 0;
	padding: 0;
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	font-weight: 100;
	font-size: 13px;
	background-color: #fefefe;
	color: #0f0000;
}
ul{
	list-style:none;
}

/*----header----*/
.header{
	width: 160px;
	margin: 55px 0px 18px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 22px;
	font-weight: bold;
	text-align: right;
}
.header a{
	text-decoration: none;
	color: #000;
}
.header a:hover{
	text-decoration: none;
}
.headline {
	border-bottom: 1px solid #422;
}
/*----navigation----*/
.nav {
	width:160px;
	margin: 22px 0px 0px 0px;
	height: auto !important; /* for modern browsers */
	float: left;
	text-align: right;
}
.nav a {
	display: block;
	text-decoration: none;
	color: #000;
}
/*#nav a:hover {
color: #FFFFFF;
background: #000000;
background-repeat:no-repeat;
background-position:41px 50%;
}*/
#nav-top:hover {
	background-color: #ffc;
}
#nav-about:hover {
	background-color: #fdf;
}
#nav-works:hover {
	background-color: #dff;
}

.sidebar {
	padding: 0px 0px 2px 0px;
}

/*----containts----*/
.contents{
	width: 618px;
	margin: 22px 0px 35px 22px;
	float: left;
	min-height: 300px; /* for modern browsers */
}

/*----footer----*/
.footer { 
	width: 100%;
	margin: 0px 0px 35px 0px;
	text-align: right;
}