<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf8">
	<link href="style.css" rel="stylesheet" media="all" />
	<title>shunjisato</title>
</head>
<body>
	<div id="header">
		<h1><a href="index.html">shunji</a></h1>
	</div>
	<div id="nav">
		<a href="#top" class="sidebar" id="nav-top-on">top</a>
		<a href="#about" class="sidebar" id="nav-about">about</a>
		<a href="#works" class="sidebar" id="works">works</a>
		<a href="#contact" class="sidebar" id="nav-contact">contact</a>
	</div>

	<!-- contents -->
	<div id="contents">
		<p>ここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツここにコンテンツ</p>
	</div>

	<div id="footer">
		<small>&copy; shunjisato</small>
	</div>
</body>
</html>