<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
		<title>{{ title }} | shunjisato</title>
	</head>
	<body>
		<div class="header">
			<a href="/">shunji</a>
		</div>
		<div class="headline"></div>

		<!--navigation-->
		<div class="nav">
			<a href="/" class="sidebar" id="nav-top">top</a>
			<a href="/about" class="sidebar" id="nav-about">about</a>
			<a href="/works" class="sidebar" id="nav-works">works</a>
		</div>
		
		<!--contents-->
		{% block contents %}{% endblock %}
		
		<!--footer-->
		<div class="footer">
			<small>&copy; shunjisato</small>
		</div>
	</body>
</html>